nav {
   position: fixed;
   padding: 3rem;
}

main {
   background-image: url(Images/error-page.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100vw;
   height: 50vw;
}

@font-face {
   font-family: myfont1;
   src: url(Fonts/Refinery-25-Bold.ttf);
}

h1{
   color: #FCEE0A;
   animation: back .3s infinite;
}

.message {
   padding: 18rem;
   font-family: myfont1;
}

.glitch {
   position: relative;
   font-size: 7rem;
   font-weight: 100;
   color: #FCEE0A;
   letter-spacing: 5px;
   z-index: 1;
}

.glitch:before,
.glitch:after {
   content: 'ERROR';
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0.5;
}

.glitch:before {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
   color: #39FF14;
   z-index: -1;
}

.glitch:after {
   animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
   color: #FF46A2;
   z-index: -2;
}

@keyframes glitch-it {
   0% {
      transform: translate(0);
   }

   20% {
      transform: translate(-4px, 4px);
   }

   40% {
      transform: translate(-2px, -2px);
   }

   50%{
      transform: skew(1deg, 4deg);
   }

   60% {
      transform: translate(4px, 4px);
   }

   80% {
      transform: translate(2px, -2px);
   }

   100% {
      transform: skew(4deg, 2deg);
   }
}


@keyframes back{
   0%{
      color: #FCEE0A;
   }
   50%{
      color: #fdf329;
   }
   100%{
      color: #c4bb13;
   }
}