* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myfont1;
}

@font-face {
    font-family: myfont1;
    src: url(Fonts/BlenderPro-Book.ttf);
}

html {
    overflow-x: hidden;
}

body {
    background-image: url(Images/background.jpg);
    background-attachment: fixed;
}

nav {
    padding: 1%;
    padding-left: 13%;
    background-color: #000000cc;
    clip-path: polygon(100% 0%, 100% 0%, 74% 107%, 0 100%, 0 0);
    width: 40em;
    height: 6em;
    position: fixed;
    z-index: 1;
    margin-top: -3em;
}

.main-image {
    width: 51%;
    height: 60%;
    display: flex;
    justify-content: center;
    background-image: url(Images/layer.png);
    background-size: cover;
    transform: rotate(-2deg);
}

.main-image img {
    width: 74.5em;
    clip-path: polygon(10.68% 13.66%, 10.68% 14.26%, 10.58% 14.26%, 10.58% 17.62%, 10.68% 17.62%, 10.68% 18.22%, 10.77% 18.22%, 10.77% 18.42%, 10.86% 18.42%, 10.86% 18.61%, 10.95% 18.61%, 10.95% 18.81%, 11.04% 18.81%, 11.13% 19.21%, 11.50% 19.41%, 11.50% 19.60%, 11.59% 19.60%, 11.68% 20.00%, 11.77% 20.00%, 11.77% 20.40%, 11.86% 20.40%, 11.86% 20.79%, 11.95% 20.79%, 11.95% 22.77%, 12.04% 22.77%, 12.04% 29.11%, 12.14% 29.11%, 12.14% 34.46%, 12.23% 34.46%, 12.23% 40.00%, 12.32% 40.00%, 12.32% 45.35%, 12.41% 45.35%, 12.41% 50.69%, 12.50% 50.69%, 12.50% 56.04%, 12.59% 56.04%, 12.59% 61.58%, 12.68% 61.58%, 12.68% 66.93%, 12.77% 66.93%, 12.77% 72.28%, 12.86% 72.28%, 12.86% 77.82%, 12.96% 77.82%, 12.96% 83.17%, 13.05% 83.17%, 13.05% 84.95%, 12.96% 84.95%, 12.96% 85.54%, 12.77% 85.74%, 12.77% 86.14%, 12.68% 86.14%, 12.59% 86.53%, 12.41% 86.53%, 12.41% 86.73%, 12.32% 86.73%, 12.32% 86.93%, 12.23% 86.93%, 12.23% 87.13%, 12.04% 87.33%, 12.04% 87.72%, 11.95% 87.72%, 11.95% 88.12%, 11.86% 88.12%, 11.86% 90.69%, 11.95% 90.69%, 11.95% 91.68%, 12.04% 91.68%, 12.04% 92.28%, 12.14% 92.28%, 12.23% 93.07%, 12.32% 93.07%, 12.32% 93.27%, 12.41% 93.27%, 12.41% 93.66%, 12.50% 93.66%, 12.50% 93.86%, 12.59% 93.86%, 12.59% 94.06%, 12.68% 94.06%, 12.77% 94.46%, 12.96% 94.46%, 13.05% 94.85%, 13.32% 94.85%, 13.32% 95.05%, 13.59% 95.05%, 13.59% 95.25%, 14.05% 95.25%, 14.05% 95.45%, 15.42% 95.45%, 15.42% 95.25%, 16.06% 95.25%, 16.06% 95.05%, 16.24% 95.05%, 16.24% 95.25%, 19.53% 95.25%, 19.53% 95.05%, 20.89% 95.05%, 20.89% 94.85%, 21.17% 94.85%, 21.26% 94.46%, 21.44% 94.46%, 21.53% 94.06%, 21.72% 94.06%, 21.81% 93.66%, 21.99% 93.66%, 21.99% 93.47%, 22.17% 93.47%, 22.17% 93.27%, 22.99% 93.27%, 22.99% 93.07%, 25.27% 93.07%, 25.27% 92.87%, 27.55% 92.87%, 27.55% 92.67%, 29.74% 92.67%, 29.74% 92.48%, 32.03% 92.48%, 32.03% 92.28%, 34.31% 92.28%, 34.31% 92.08%, 36.59% 92.08%, 36.59% 91.88%, 38.78% 91.88%, 38.78% 91.68%, 41.06% 91.68%, 41.06% 91.49%, 43.34% 91.49%, 43.34% 91.29%, 45.53% 91.29%, 45.53% 91.09%, 47.81% 91.09%, 47.81% 90.89%, 50.09% 90.89%, 50.09% 90.69%, 52.37% 90.69%, 52.37% 90.50%, 54.65% 90.50%, 54.65% 90.30%, 59.03% 90.10%, 59.03% 89.90%, 59.40% 89.90%, 59.40% 89.70%, 59.58% 89.70%, 59.58% 89.90%, 61.41% 89.90%, 61.41% 89.70%, 65.97% 89.50%, 65.97% 89.31%, 68.16% 89.31%, 68.16% 89.11%, 70.44% 89.11%, 70.44% 88.91%, 72.17% 88.91%, 72.17% 88.71%, 72.35% 88.71%, 72.35% 88.91%, 72.72% 88.91%, 72.72% 88.71%, 74.27% 88.71%, 74.27% 88.91%, 74.54% 88.91%, 74.54% 89.11%, 74.73% 89.11%, 74.73% 89.31%, 75.00% 89.31%, 75.00% 89.50%, 75.18% 89.50%, 75.18% 89.70%, 75.36% 89.70%, 75.36% 89.90%, 75.64% 89.90%, 75.64% 90.10%, 75.91% 90.10%, 75.91% 90.30%, 76.73% 90.30%, 76.73% 90.10%, 78.74% 90.10%, 78.74% 89.90%, 80.84% 89.90%, 80.84% 89.70%, 82.57% 89.70%, 82.57% 89.50%, 83.12% 89.31%, 83.12% 89.11%, 83.49% 88.91%, 83.58% 88.51%, 83.76% 88.51%, 83.76% 88.32%, 83.85% 88.32%, 83.85% 88.12%, 83.94% 88.12%, 83.94% 87.92%, 84.03% 87.92%, 84.03% 87.72%, 84.22% 87.52%, 84.22% 87.13%, 84.31% 87.13%, 84.31% 86.93%, 84.40% 86.93%, 84.40% 86.53%, 84.49% 86.53%, 84.49% 85.54%, 84.58% 85.54%, 84.58% 82.38%, 84.49% 82.38%, 84.40% 81.58%, 84.31% 81.58%, 84.31% 81.39%, 84.22% 81.39%, 84.12% 80.99%, 83.94% 80.99%, 83.94% 80.79%, 83.85% 80.79%, 83.85% 80.59%, 83.76% 80.59%, 83.76% 80.40%, 83.58% 80.20%, 83.58% 79.80%, 83.39% 79.60%, 83.39% 79.21%, 83.30% 79.21%, 83.30% 77.23%, 83.21% 77.23%, 83.21% 71.88%, 83.12% 71.88%, 83.03% 61.19%, 82.94% 61.19%, 82.94% 55.84%, 82.85% 55.84%, 82.85% 50.30%, 82.76% 50.30%, 82.76% 44.95%, 82.66% 44.95%, 82.66% 39.60%, 82.57% 39.60%, 82.57% 34.06%, 82.48% 34.06%, 82.39% 23.37%, 82.30% 23.37%, 82.30% 18.22%, 82.21% 18.22%, 82.21% 14.06%, 82.30% 14.06%, 82.30% 13.66%, 82.39% 13.66%, 82.39% 13.47%, 82.48% 13.47%, 82.48% 13.27%, 82.57% 13.27%, 82.57% 13.07%, 82.66% 13.07%, 82.66% 12.87%, 82.76% 12.87%, 82.76% 12.67%, 82.85% 12.67%, 82.85% 12.48%, 82.94% 12.48%, 82.94% 12.28%, 83.03% 12.28%, 83.03% 12.08%, 83.12% 12.08%, 83.12% 11.88%, 83.30% 11.68%, 83.30% 11.29%, 83.39% 11.29%, 83.39% 10.69%, 83.49% 10.69%, 83.49% 9.11%, 83.39% 9.11%, 83.39% 8.32%, 83.30% 8.32%, 83.30% 7.92%, 83.21% 7.92%, 83.21% 7.33%, 83.12% 7.33%, 83.12% 6.93%, 83.03% 6.93%, 82.94% 6.14%, 82.85% 6.14%, 82.85% 5.94%, 82.76% 5.94%, 82.76% 5.74%, 82.66% 5.74%, 82.66% 5.54%, 82.57% 5.54%, 82.57% 5.35%, 82.48% 5.35%, 82.39% 4.95%, 82.21% 4.95%, 82.21% 4.75%, 82.03% 4.75%, 82.03% 4.55%, 81.75% 4.55%, 81.75% 4.36%, 81.48% 4.36%, 81.48% 4.16%, 78.65% 4.16%, 78.65% 4.36%, 75.18% 4.36%, 75.18% 4.55%, 74.27% 4.55%, 74.27% 4.75%, 74.09% 4.75%, 74.09% 4.95%, 73.91% 4.95%, 73.91% 5.15%, 73.54% 5.35%, 73.45% 5.74%, 73.27% 5.74%, 73.27% 5.94%, 73.08% 5.94%, 73.08% 6.14%, 72.81% 6.14%, 72.81% 6.34%, 70.53% 6.34%, 70.53% 6.53%, 68.34% 6.53%, 68.34% 6.73%, 66.61% 6.73%, 66.61% 6.93%, 64.60% 6.93%, 64.60% 7.13%, 61.13% 7.13%, 61.13% 7.33%, 59.03% 7.33%, 59.03% 7.52%, 57.21% 7.52%, 57.21% 7.72%, 55.57% 7.72%, 55.57% 7.92%, 53.47% 7.92%, 53.47% 8.12%, 51.55% 8.12%, 51.55% 8.32%, 50.18% 8.32%, 50.18% 8.51%, 47.35% 8.51%, 47.35% 8.71%, 45.80% 8.71%, 45.80% 8.91%, 43.70% 8.91%, 43.70% 9.11%, 41.70% 9.11%, 41.70% 9.31%, 38.14% 9.31%, 38.14% 9.50%, 36.31% 9.50%, 36.31% 9.70%, 34.31% 9.70%, 34.31% 9.90%, 32.12% 9.90%, 32.12% 10.10%, 27.92% 10.30%, 27.92% 10.50%, 26.37% 10.50%, 26.37% 10.69%, 23.91% 10.69%, 23.91% 10.89%, 22.63% 10.89%, 22.63% 11.09%, 22.17% 11.09%, 22.17% 10.89%, 22.08% 10.89%, 22.08% 11.09%, 20.62% 11.09%, 20.62% 10.89%, 20.44% 10.89%, 20.35% 10.50%, 20.07% 10.50%, 20.07% 10.30%, 19.89% 10.30%, 19.89% 10.10%, 19.71% 10.10%, 19.71% 9.90%, 19.53% 9.90%, 19.53% 9.70%, 19.16% 9.70%, 19.16% 9.50%, 18.61% 9.50%, 18.61% 9.70%, 16.51% 9.70%, 16.51% 9.90%, 15.05% 9.90%, 15.05% 10.10%, 12.59% 10.10%, 12.59% 10.30%, 12.04% 10.50%, 12.04% 10.69%, 11.86% 10.69%, 11.77% 11.09%, 11.59% 11.09%, 11.59% 11.29%, 11.50% 11.29%, 11.50% 11.49%, 11.41% 11.49%, 11.41% 11.68%, 11.31% 11.68%, 11.31% 11.88%, 11.22% 11.88%, 11.22% 12.08%, 11.13% 12.08%, 11.13% 12.28%, 10.95% 12.48%, 10.95% 12.87%, 10.86% 12.87%, 10.86% 13.27%, 10.77% 13.27%, 10.77% 13.66%, 10.68% 13.66%);
    background-size: cover;
    margin: 1em;
    transform: rotateY(-1deg) translateX(29px)translatey(13px) scaleY(1.11) scaleX(1.3);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    height: 60em;
}

.heading{
    background-color: #fcee0a;
    width: 46%;
    height: max-content;
    margin: 3% 0 0 4%;
    padding: 3%;
    padding-bottom:0 ;
}

.heading h1{
    font-size: 3.3em;
    font-weight: 900;
    color: #000 !important;
}

.line{
    border-top: 1px solid #000;
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 1em;
}

.bar{
    background-color: #000;
    height: 4px;
    width: 13%;
    display: block;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:3% 0;
}

i{
    font-size: 1.3em;
    padding: .3em;
    color:#000;
}

.black-back{
    width: 115.1%;
    transform: rotate(180deg);
    margin-left: -3.5em;
    margin-bottom: -0.4em;
    height: 1.5em;
}

.content{
    background-color: rgb(0, 0, 0);
    width: 46.2%;
    margin-left: 4%;
    padding: 1% 4% 3%;
    color: whitesmoke;
}

.content p{
    font-size: 1.36em;
}

/* .content div{
    margin: 1.5em;
} */

h2{
    font-weight: 900;
    font-size: 1.4em;
}


li{
    padding-left:1.5em;
}

ul{
    padding-left: 2.6em;
    font-size: 1.29em;
}

ul li{
    padding:.3em 0 !important;

}

span{
    color: aqua;
}

h1{
    color: #fcee0a;
    font-size: 2em;
}

h3{
    font-size: 1em;
    background-color: aqua;
    padding: .5em .8em;
    color: black !important;
    width: 10.2em;
    clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 65%, 0 0);
}

.shade{
    background-image: url(Images/yellow-shade.png);
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
    top: 0;
}

p i,li i{
    color: white;
    font-size: 1em;
    font-weight: 100;
    padding: 0;
}

a{
    font-size: 1.5em;
    text-decoration: none;
}









footer{
    position: absolute;
    top: 370em;
    right: 15em;
}

.available {
    background:linear-gradient(to top,black 70%,rgba(0, 0, 0, 0));
    padding: 2vw 9vw;
    width: 115%;
}

.seperator {
    transform: rotate(180deg);
    background: url(Images/black-back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2em;
    height: 3em;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 1em 0;
}

.apps h2 {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    margin: .5em;
}

.apps img {
    margin: .3em;
    vertical-align: middle;
    width: 2.5em;
}

.partner img {
    margin: 1em;
    vertical-align: middle;
}

.partner img:last-child {
    width: 10em;
}

.terms {
    border-top: 1.5px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.15);
    padding: .5em;
    margin: 1em 0 1.8em 0;
}

.terms a {
    color: #00f0ff;
    font-size: large;
    display: inline-block;
    margin: 1.2em;
    font-weight: 600;
}

.terms img {
    width: 1em;
    height: 1.2em;
    vertical-align: middle;
    margin: .3em;
    margin-top: -.1em;
}


.copy-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.copy-right div:first-child img {
    width: 10em;
    /* vertical-align: middle; */
    margin: 0 1.8em;
}

.copy-right p {
    font-size: small;
    color: rgba(245, 245, 245, 0.8);
    max-width: 37em;
    display: inline-block;
    /* vertical-align: middle; */
    line-height: 1.5em;
}

.copy-right div:last-child img {
    width: 6em;
    margin: 0 1.5em;
    vertical-align: middle;
    padding-bottom: 1em;
}

.copy-right div:last-child p {
    margin-left: -8.5em;
}


span:hover{
    text-decoration: underline;
}

h3:hover{
    cursor: pointer;
}


span a{
    text-decoration: none;
    color: #00f0ff;
    font-size: inherit;
}







/* -------------------------page-3.css----------------------------- */
#foot-of-2{
    top:115em !important;
}
#forum-3{
    transform: rotate(0.2deg) translateX(15px) scaleY(1.04) scaleX(1.01) !important;
    width: 59em;
    clip-path: none !important;
}

/* -------------------------page-4.css----------------------------- */
#foot-of-3{
    top:105em !important;
}
#forum-4{
    transform: rotate(-2deg) translateX(12px)translatey(5px) scaleY(1.01) scaleX(0.97) !important;
    clip-path: none !important;
    width: 57.5em;
}

/* -------------------------page-5.css----------------------------- */
#foot-of-4{
    top:130em !important;
}